.countryContainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 9rem 0rem 9rem ;
}

.grid-container {
    position: relative;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    
}

.country-card {
    max-width: 300px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.country-img img {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.country-info {
    position: relative;
    padding: 2rem 2rem;
}


.country-info h2 {
    padding-bottom: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.10rem;
}

.country-details {
    letter-spacing: 0.5px;
}

.country-details h3 {
    font-size: 0.80rem;
    font-weight: 600;
    margin-bottom: 0.50rem;
    
}

.country-details h3 span {
    font-weight: 500;
}


nav.country-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 62px;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    max-width: 420px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 9px rgb(0 0 0 / 5%);
    margin-right: 1rem;
}


.searchBar svg {
    margin: 0px 24px 0 32px;
    height: 15px;
    width: 15px;
}


.searchBar input {
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-size: 14px;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    nav.country-nav {
        display: flex;
        padding: 0px 40px;
        flex-direction: column;
    }

    .searchBar {
        margin: 0rem 1rem 2rem 0rem;
    }

}





