.LightMode{
    background-color: #fff;
    min-height: 100vh;
}

.LightMode .grid-container {
    color: #202c36;
}

.LightMode .searchBar {
    background: #fff;
    box-shadow: 0 2px 9px rgb(0 0 0 / 5%);
}




.LightMode .searchBar input {
    color: #111517;
}

.LightMode .searchBar svg path {
    fill:#111517;
}

.LightMode .searchBar input::-webkit-input-placeholder {
    color: #111517;
}


header {
    background-color: #fff;
    color: #202c36;
}



